*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*COMMON*/
img{
    width: 100%;
    display: block;
}

.green-button{
    border: 1px solid #7cbb02;
    background-color: #7cbb02;
    padding: 10px 15px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: inline;
}
/*END COMMON*/

/*HEADER*/

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

header{
    height: 500px;
    background-color:#0d325a ;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 109% 111%;
}

.logo{
    width: 7%;
    padding: 15px;
}

nav{
    padding: 15px 0;
}

.central-menu{
    width: 53%;
    padding-left: 30px;
}

.right-menu{
    width: 40%;
    text-align: right;
}

.menu{
    list-style-type: none;
    padding-top: 25px;
}

.menu li{
    display: inline-block;
}

.menu li a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    text-transform: uppercase;
}

.menu .login{
    border:1px solid white;
    border-radius: 7px;
    padding: 10px 15px;
}

.title{
    color: white;
    margin-top: 10%;
    width: 30%;
    font-size: 20px;
}

h1{
    margin-bottom: 20px;
}

/*END HEADER*/

/*MAIN*/

.grey{
    background-color:#d3d3d3;
    height: 150px;
    color: #0d325a;
    text-align: center;
}

h2{
    padding-top: 40px;
}

.text-grey{
    text-align: center;
    color: #808080;
    margin-top: 1%;
}

.container{
    position: relative;;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.container img{
    height: 175px;
    margin: auto;

}

h3{
    color: green;
    font-size: 30px;
    text-align: center;
}

.col-left{
    width: 30%;
}

.col-center{
    width: 30%;
    background-color: black;
    height: 100px;
}

.col-right{
    width: 30%;
    background-color: aqua;
    height: 100px;
}

hr{
    width: 20%;
    margin: auto;
    margin-top: 5px;
}

.division{
    margin-bottom: 20px;
    width: 90%;
}

.col-img{
    width: 50%;
}

.col-img img{
    height: auto;
}

.endtitle{
    color: #0d325a;
    width: 80%;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 50px;
}

.end-text,
.end-button{
    width: 50%;
    padding: 5%;
}

.end-text{
    font-size: 35px;
    font-weight: bold;
}

.fix{
    position: fixed;
    bottom: -10px;
    right: 50px;
}

/*END MAIN*/
    